<app-admin-header></app-admin-header>
<div *ngIf="movieDetails" class="amd-containerr">
    <img class="amd-image" src="./assets/{{movieDetails.imageUrl}}" alt="foods-image">
    <div class="amd-content">
        <div class="amd-title">
            <div class="amd-movie-name">{{movieDetails.movieName}}</div>
            <span class="amd-favorite">❤{{movieDetails.ratings}}%</span>
        </div>
        <div class="amd-product-item-footer">
            <div class="amd-genres">
                {{movieDetails.genres}}
            </div>
            
        </div>
        
        <div class="amd-movie-pricing-details">
            <div class="amd-showtime-language">
                <div class="amd-show-time">
                    {{movieDetails.showTime | date: 'short'}}
                </div>
                <!-- {{movieDetails.costPerSeat | currency:'INR'}} -->
                <div class="amd-movie-price-age">
                    <div class="language">
                        {{movieDetails.language}}
                    </div>
                    <div class="amd-age-rating">
                        ({{movieDetails.ageRating}})
                    </div>
                </div>
            </div>
            <div class="amd-duration-movie-type">
                <div class="amd-duration">
                    <span>🕘</span>
                    {{movieDetails.duration}}
                </div>
                <div class="amd-movie-type">
                    {{movieDetails.movieType}}
                </div>
            </div> 
        </div>
        <div class="amd-button-group">
            <button class="amd-btn" [routerLink]="['/admin/editmovie/',movieDetails.movieId]">Edit</button>
            <!-- <button class="amd-btn" [routerLink]="['/admin/removemovie/',movieDetails.movieId]">Delete</button> -->
            <button class="amd-btn" data-toggle="modal" data-target="#confirmDeletion">Delete</button>
        </div>

        <button class="amd-btn-back" [routerLink]="['/admin/movielist']">Back to the Movie List</button>

    </div>
</div>


  <div *ngIf="movieDetails" class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content confirmation-dialog">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You want to delete details of {{movieDetails.movieName}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" style="background-color: #e72929;" [routerLink]="['/admin/removemovie/',movieDetails.movieId]">Confirm</button>
        </div>
      </div>
    </div>
  </div>