.amd-containerr{
    font-size: 2.5rem;
    height: auto;
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #e72929;
}

.amd-image{
    height:27.5rem;
    border-radius: 1rem;
}

.amd-content{
    padding-left: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.amd-title{
    display: flex;
}

.amd-movie-name{
    flex: 0.75;
    font-weight: bold;
}

.amd-favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
}

.amd-product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.amd-genres{
    border-radius: 0 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: 1.8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.9;
    padding-left: 1rem;
}

.amd-duration{
    font-size: 1.5rem;
    text-align: center;
}

.amd-show-time{
    color: whitesmoke;
    font-size: 1.5rem;
}

.amd-movie-pricing-details{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    
    margin-top: 2rem;
}

.amd-movie-price-age {
    display: flex;
}

.amd-age-rating {
    margin-left: 0.5rem;
}
.amd-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.8rem;
    width: auto;
    text-align: center;
}
.amd-button-group {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.amd-btn {
    margin-top: 4rem;
    height: 3rem;
    width: 8rem;
    padding-right: 1rem;
    padding-left: 1rem;

    font-size: 1rem;
    border-radius: 10rem;
    outline: none;
    background-color: whitesmoke;
    color: black;
    border: none;
    font-size: 1.8rem;
    margin-top: 0;
}

.amd-btn:hover {
    background-color: #e72929;
    color: white;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.01);
}


.amd-btn-back {
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
    height: 3rem;
    width: 25rem;
    font-size: 1rem;
    border-radius: 10rem;
    outline: none;
    background-color: #e72929;;
    color: white;
    border: none;
    font-size: 1.8rem;
}

.amd-btn-back:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.01);
}

.confirmation-dialog{
    background-color: #242333;
    color: white;
    border-radius: 2rem;
    text-decoration: bolder;
}

.confirmation-dialog > button{
    border-radius: 1.5rem;
}