<app-admin-header></app-admin-header>
<div *ngIf="movieDetails" class="amd-containerr">
    <img class="amd-image" src="./assets/{{movieDetails.imageUrl}}" alt="foods-image">
    <div class="amd-content">
        <div class="amd-title">
            <div class="amd-movie-name">{{movieDetails.movieName}}</div>
            <span class="amd-favorite">❤{{movieDetails.ratings}}%</span>
        </div>
        <div class="amd-product-item-footer">
            <div class="amd-genres">
                {{movieDetails.genres}}
            </div>
            
        </div>
        
        <div class="amd-movie-pricing-details">
            <div class="amd-showtime-language">
                <div class="amd-show-time">
                    {{movieDetails.showTime | date: 'short'}}
                </div>
                <!-- {{movieDetails.costPerSeat | currency:'INR'}} -->
                <div class="amd-movie-price-age">
                    <div class="language">
                        {{movieDetails.language}}
                    </div>
                    <div class="amd-age-rating">
                        ({{movieDetails.ageRating}})
                    </div>
                </div>
            </div>
            <div class="amd-duration-movie-type">
                <div class="amd-duration">
                    <span>🕘</span>
                    {{movieDetails.duration}}
                </div>
                <div class="amd-movie-type">
                    {{movieDetails.movieType}}
                </div>
            </div> 
        </div>
        <div class="amd-button-group">
            <button class="amd-btn" [routerLink]="['/admin/editmovie/',movieDetails.movieId]">Edit</button>
            <button class="amd-btn" [routerLink]="['/admin/removemovie/',movieDetails.movieId]">Delete</button>
        </div>

        <button class="amd-btn-back" [routerLink]="['/admin/movielist']">Back to the Movie List</button>

    </div>
</div>