<header class="main-header">
    <div class="header-containerr">
        <a href="#" (click)="OnLogoClick()" class="header-logo">BMM 💃 Book My Movie</a>
        <nav>
            <ul class="header-links-list">
                <li *ngIf="!customerEmail" class="header-links">
                    <a href="#" routerLink="/signin">SignIn</a>
                    <a href="#" routerLink="/register">Register</a>
                </li>

                <li class="header-links" *ngIf="customerEmail">
                    Hi, {{customerFirstName}}
                    <a (click)="OnLogout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>