<header>
    <div class="containerr">
        <a href="#" routerLink="" class="logo">BMM 💃 Book My Movie</a>
        <nav>
            <ul>
                <li *ngIf="!customerEmail">
                    <a href="#" routerLink="/signin">SignIn</a>
                    <a href="#" routerLink="/register">Register</a>
                </li>

                <li *ngIf="customerEmail">
                    Hi, {{customerFirstName}}
                    <a (click)="OnLogout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>