<div class="application-div">
  <app-admin-header></app-admin-header>
  
  <div class="application-content">
      <div class="sidebar">
          <app-admin-sidebar></app-admin-sidebar>
      </div>
      <div class="content">
        
<div class="container em-form" style="padding-top:20px;">  
  <div class="row">  
    <div class="col-md-7 mx-auto">  
      <div class="card-group">  
        <div class="card p-4">  
          <div class="card-body">  
            <form name="form"  #f="ngForm" (submit)="onSubmit()">   
                <h1 style="text-align:center; color:#e72929;">Edit Movie</h1>  
               
                <div class="input-group mb-3 em-form-row">  
                    <div class="form-text em-form-row-label">Movie Name</div>
                    <div class="em-flex">
                      <input 
                      type="text" 
                      name="movieName"  
                      class="form-control sty1 em-form-row-input" 
                      placeholder="eg, Brahmastra" 
                      required 
                      [(ngModel)]="movieData.movieName"
                      pattern=""
                      minlength="3" 
                      maxlength="30"
                      #movienametest="ngModel" 
                      > 
                      <div class="form-text text-danger" *ngIf="movienametest.errors?.['required']&&(movienametest.dirty || movienametest.touched)">
                        * Movie name is required
                      </div>
                      <div class="form-text text-danger" *ngIf="movienametest.errors?.['minlength']&&(movienametest.invalid || movienametest.dirty || movienametest.touched)">
                        * Min length must be 3
                      </div>
                    </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Release Date</div> 
                  <div class="em-flex">
                    <input  type="date" name="releaseDate" #selectedRDate="ngModel" class="form-control em-form-row-input"  placeholder="" required [(ngModel)]="movieData.releaseDate">
                    <div class="form-text text-danger" *ngIf="selectedRDate.errors?.['required']&&(selectedRDate.dirty || selectedRDate.touched)">
                      * Release Date is required
                    </div>
                  </div>
                </div>  

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Ratings (%)</div>
                  <div class="em-flex">
                    <input 
                      type="number" 
                      name="ratings"  
                      class="form-control em-form-row-input sty1" 
                      placeholder="" 
                      required 
                      [(ngModel)]="movieData.ratings"
                      min="0" 
                      max="100"
                      #ratingstest="ngModel" 
                    >
                    <div class="form-text text-danger" *ngIf="ratingstest.errors?.['required']&&(ratingstest.dirty || ratingstest.touched)">
                      * Ratings are required
                    </div>
                    <div class="form-text text-danger" *ngIf="ratingstest.errors?.['min']&&(ratingstest.invalid || ratingstest.dirty || ratingstest.touched)">
                      * Min value cannot be less than 0
                    </div>
                    <div class="form-text text-danger" *ngIf="ratingstest.errors?.['max']&&(ratingstest.invalid || ratingstest.dirty || ratingstest.touched)">
                      * Max value cannot be more than 100
                    </div>
                  </div>
                </div>  


                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Genres</div> 
                  <div class="em-flex">
                    <input  
                    type="text" 
                    name="genres"  
                    class="form-control em-form-row-input"  
                    placeholder="eg, Action, Adventure, Fantasy" 
                    required 
                    [(ngModel)]="movieData.genres"
                    minlength="5" 
                    maxlength="30"
                    #genrestest="ngModel" 
                    > 
                    <div class="form-text text-danger" *ngIf="genrestest.errors?.['required']&&(genrestest.dirty || genrestest.touched)">
                      * Genre is required
                    </div>
                    <div class="form-text text-danger" *ngIf="genrestest.errors?.['minlength']&&(genrestest.invalid || genrestest.dirty || genrestest.touched)">
                      * Min length must be 3
                    </div>
                  </div>
                </div>  

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Image Url</div>
                  <div class="em-flex">
                    <input 
                    type="text" 
                    name="imageUrl"  
                    class="form-control em-form-row-input sty1" 
                    placeholder="eg, image1.jpg" 
                    required
                    minlength="5" 
                    [(ngModel)]="movieData.imageUrl"
                    #imageurlTest="ngModel"> 
                    <div class="form-text text-danger" *ngIf="imageurlTest.errors?.['required']&&(imageurlTest.dirty || imageurlTest.touched)">
                      * Image URL is required
                    </div>
                    <div class="form-text text-danger" *ngIf="imageurlTest.errors?.['minlength']&&(imageurlTest.invalid || imageurlTest.dirty || genrestest.touched)">
                      * Min length must be 5
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Ticket Cost (₹)</div>
                  <div class="em-flex">
                    <input 
                    type="number" 
                    name="costPerSeat"  
                    class="form-control em-form-row-input"  
                    placeholder="eg, ₹230" 
                    required 
                    [(ngModel)]="movieData.costPerSeat"
                    min="0" 
                    max="2000"
                    #costTest="ngModel" 
                    > 
                    <div class="form-text text-danger" *ngIf="costTest.errors?.['required']&&(costTest.dirty || costTest.touched)">
                      * Cost is required
                    </div>
                    <div class="form-text text-danger" *ngIf="costTest.errors?.['min']&&(costTest.invalid || costTest.dirty || costTest.touched)">
                      * Min value cannot be less than 0
                    </div>
                    <div class="form-text text-danger" *ngIf="costTest.errors?.['max']&&(costTest.invalid || costTest.dirty || costTest.touched)">
                      * Max value cannot be more than 2000
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Show Date & Time</div>
                  <div class="em-flex">
                    <input 
                    type="datetime-local" 
                    name="showTime"  
                    class="form-control em-form-row-input sty1" 
                    required 
                    [(ngModel)]="movieData.showTime"
                    #showTimeTest="ngModel"> 
                    <div class="form-text text-danger" *ngIf="showTimeTest.errors?.['required']&&(showTimeTest.dirty || showTimeTest.touched)">
                      * Show Date & Time are required
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Duration</div>
                  <div class="em-flex">
                    <input 
                    type="text" 
                    name="duration"  
                    class="form-control em-form-row-input"  
                    placeholder="eg, 2h 13m" 
                    required 
                    [(ngModel)]="movieData.duration"
                    minlength="2" 
                    maxlength="30"
                    #durationTest="ngModel" 
                    > 
                    <div class="form-text text-danger" *ngIf="durationTest.errors?.['required']&&(durationTest.dirty || durationTest.touched)">
                      * Duration is required
                    </div>
                    <div class="form-text text-danger" *ngIf="durationTest.errors?.['minlength']&&(durationTest.invalid || durationTest.dirty || durationTest.touched)">
                      * Min length must be 2
                    </div>
                    <div class="form-text text-danger" *ngIf="durationTest.errors?.['pattern']&&(durationTest.invalid || durationTest.dirty || durationTest.touched)">
                      * Duration is invalid
                    </div> 
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Age Rating</div>
                  <div class="em-flex">
                    <input 
                    type="text" 
                    name="ageRating"  
                    class="form-control em-form-row-input sty1" 
                    placeholder="eg, UA" 
                    required 
                    [(ngModel)]="movieData.ageRating"
                    minlength="1" 
                    maxlength="30"
                    #ageRatingTest="ngModel" 
                    > 
                    <div class="form-text text-danger" *ngIf="ageRatingTest.errors?.['required']&&(ageRatingTest.dirty || ageRatingTest.touched)">
                      * Age Rating is required
                    </div>
                    <div class="form-text text-danger" *ngIf="ageRatingTest.errors?.['minlength']&&(ageRatingTest.invalid || ageRatingTest.dirty || ageRatingTest.touched)">
                      * Min length must be 1
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Language</div>
                  <div class="em-flex">
                    <input  
                    type="text" 
                    name="language"  
                    class="form-control em-form-row-input"  
                    placeholder="eg, English" 
                    required 
                    [(ngModel)]="movieData.language"
                    minlength="5" 
                    maxlength="30"
                    #LanguageTest="ngModel" 
                    > 
                    <div class="form-text text-danger" *ngIf="LanguageTest.errors?.['required']&&(LanguageTest.dirty || LanguageTest.touched)">
                      * Language is required
                    </div>
                    <div class="form-text text-danger" *ngIf="LanguageTest.errors?.['minlength']&&(LanguageTest.invalid || LanguageTest.dirty || LanguageTest.touched)">
                      * Min length must be 5
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Theatre Type</div>
                  <div class="em-flex">
                    <select 
                    type="text" 
                    name="movieType"  
                    class="form-control em-form-row-input sty1" 
                    required 
                    [(ngModel)]="movieData.movieType"
                    #theatreTypeTest="ngModel" 
                    > 
                      <option selected="true" disabled="true">Choose Theatre Type</option>
                      <option *ngFor="let theatreType of theatreTypeList" [value]="theatreType">{{theatreType}}</option>
                    </select>
                    <!-- <div class="form-text text-danger" *ngIf="theatreTypeTest.dirty || theatreTypeTest.touched">
                      * Theatre Type is required
                    </div> -->
                  </div>
                </div>

                <div class="input-group mb-3 em-form-row">  
                  <div class="form-text em-form-row-label">Above 18</div>
                  <div class="em-flex">
                    <input class="em-checkbox"
                    type="checkbox"
                    [(ngModel)]="movieData.isAdult"
                    [ngModelOptions]="{standalone: true}"/> 
                  </div>
                </div>



                <div class="row">  
                    <div class="col-6">  
                        <button type="submit" class="btn btn-success px-4">Save Changes</button>  
                    </div>  
                    <div class="col-6 text-right">  
                        <button type="button" class="btn btn-danger px-4" routerLink="/admin/movielist">Cancel?</button>  
                    </div>  
              </div>   
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>     
      </div>
      
  </div>
</div>
