.em-form-row{
    display: flex;
}
.em-form-row-label {
    flex: 0.3;
}

.em-form-row-input {
    flex: 0.7;
}

.em-form-row-select {
    display: flex;
}
.em-form-row-label-select{
    flex: 0.42;
}