<div class="application-div">
  <app-header></app-header>
  
  <div class="application-content">
      <div class="sidebar">
          <app-customer-sidebar></app-customer-sidebar>
      </div>
      <div class="content">
          <div *ngIf="!transactions">
            <div class="container" style="margin: 2rem auto;">
              <div class="cp-logo">book <span>my</span> movie</div>
              <div class="cp-waiting">Wait! Previous Booking details are loading...</div>
            </div>
          </div>
          <div *ngIf="transactions">
            <div *ngFor="let transaction of transactions" style="color: white;">
              <div class="transaction-div">
                <div class="transaction-header">
                  <div class="transaction-id">
                    Booking ID <span class="bid">#{{transaction.transactionId}}</span> 
                  </div>
                  <div class="transaction-time">
                    {{transaction.transactionTime | mydatepipe}}
                  </div>
                </div>
                <div class="t-content">
                  <div class="t-left">
                    <img src="./assets/{{transaction.imageUrl}}" alt="" class="cp-movie-image">
                  </div>
                  <div class="t-middle">
                    <h5>{{transaction.movieName}}</h5>
                    <h5>{{transaction.showTime | mydatepipe}}</h5>
                    <h5>{{transaction.duration}}</h5>
                  </div>
                  <div class="t-middle2">
                    <h5>{{transaction.ageRating}}</h5>
                    <h5>{{transaction.movieType}}</h5>
                    {{transaction.seats}}
                  </div>
                  <div class="t-right">
                    <h5>{{transaction.totalCost}}</h5>
                    <!-- <button class="btn btn-success">Review</button> -->
                    <button class="btn btn-danger" [routerLink]="['/delete-transaction/',transaction.transactionId]">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

