<app-header></app-header>
<p>confirmation-page works!</p>

<div class="cp-container container">
    <div class="cp-logo">book <span>my</span> movie</div>
    <div class="cp-confirm">Your booking is confirmed!</div>
    <div class="cp-bookingid">
        <span>Booking ID </span>
        <span class="cp-bid">WMSZBWP</span>
    </div>
    <div class="cp-ticket-container">
        <div class="cp-movie">
            <div class="cp-movie-image">
                <img src="./assets/image6.jpg" alt="" class="cp-movie-image">
            </div>
            <div class="cp-movie-info">
                <div class="cp-movie-title">Bhool Bhulaiaya 2 (U/A)</div>
                <div class="cp-movie-venue">
                    <div class="cp-time">11:30pm | Sun, 22 May, 2022</div>
                    <div class="cp-address">Cinepolis: WESTEND Mall Aundh, Pune(AUDI03) Pune, Pune</div>
                </div>
                <div class="cp-seat">EXECUTIVE - G11, G12, G13</div>
            </div>
        </div>
        <div class="cp-seat-details">
            <div class="cp-number-of-seats">
                <div class="cp-nseat">3</div>
                <div class="cp-ticket-label">Tickets</div>
            </div>
            <div class="cp-audi-details">AUDI03</div>
        </div>
    </div>
    <div class="cp-transaction-container">
        <div class="cpt-heading">ORDER SUMMARY</div>
        <div class="cp-transaction-details">
            <div class="cp-amount-details">
                <div class="cp-amount-label">TICKET AMOUNT</div>
                <div class="cp-amount">Rs.840.00</div>
            </div>
            <div class="cp-quantity-details">
                <div class="cp-quantity-label">Quantity</div>
                <div class="cp-quantity">3 tickets</div>
            </div>
            <div class="cp-paid-details">
                <div class="cp-inner">
                    <div class="cp-paid-label">AMOUNT PAID</div>
                    <div class="cp-paid-money">Rs.840.00</div>
                </div>
            </div>
        </div>
    </div>
</div>