<div class="application-div">
  <app-header></app-header>
  
  <div class="application-content">
      <div class="sidebar">
          <app-customer-sidebar></app-customer-sidebar>
      </div>
      <div class="content">
          <div>
            <div class="container" style="margin: 2rem auto;">
              <div class="cp-logo">book <span>my</span> movie</div>
              <div class="cp-waiting">Wait! Processing the Cancelation of the Booking.</div>
            </div>
          </div>
      </div>
  </div>
</div>

