img{
    height: 70%;
}

.movie-title {
    display: flex;
}

.name {
    flex: 0.9;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a{
    height: auto;
    width: 17rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover{
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: black;
}

.star{
    margin-bottom: .2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.genres{
    border-radius: 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
}

.duration{
    font-size: 1rem;
    text-align: center;
}

.price{
    color: #424242;
    margin-top: .2rem;
}
.movie-list-image {
    height:23rem;
}

/* FILTER COMPONENT */
.filter-comp {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.filter-comp input {
    border-radius: 10rem 0 0 10rem;
    width: 20rem;
    height: 3rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    border: none;
}

.filter-comp button {
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    outline: none;
    background-color: #e72929;
    color: white;
    border: none;
}

.filter-comp button:hover {
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}