<app-header></app-header>
<div class="filter-comp">
    <input type="text" [(ngModel)]='listFilter' placeholder="Search Movie from BMM">
    <button type="button" (click)="performFilter()">Search</button>
</div>
<ul>
    <li *ngFor="let movie of filteredMovies">
        <a href="#" [routerLink]="['/movie-details', movie.movieId]">
            <img class="movie-list-image" src="./assets/{{movie.imageUrl}}" alt="foods-image">
            <div class="content">
                
                <div class="movie-title">
                    <div class="name">{{movie.movieName}}</div>
                    <span class="favorite">❤{{movie.ratings}}</span>
                </div>
                <div class="product-item-footer">
                    <div class="genres">
                        <!-- <span *ngFor="let origin of food.origins">
                            {{origin | titlecase}}
                        </span> -->
                        {{movie.genres}}
                    </div>
                    <div class="duration">
                        <span>🕘</span>
                        {{movie.duration}}
                    </div>
                </div>
                <div class="price">
                    {{movie.showTime | date: 'short'}}
                </div>
                <div class="price">
                    {{movie.costPerSeat | currency:'INR'}}
                </div>
            </div>
        </a>
    </li>
</ul>