<ul>
    <li *ngFor="let movie of movies">
        <a href="#">
            <img src="{{movie.imageUrl}}" alt="foods-image">
            <div class="content">
                <div class="name">{{movie.movieName}}</div>
                <span class="favorite">❤{{movie.ratings}}</span>
                <div class="product-item-footer">
                    <div class="origins">
                        <!-- <span *ngFor="let origin of food.origins">
                            {{origin | titlecase}}
                        </span> -->
                        {{movie.genres}}
                    </div>
                    <div class="cook-time">
                        <span>🕘</span>
                        {{movie.duration}}
                    </div>
                </div>
                <div class="price">
                    {{movie.costPerSeat | currency:'INR'}}
                </div>
            </div>
        </a>
    </li>
</ul>