<app-header></app-header>
<div class="ml-filter-comp">
    <input type="text" [(ngModel)]='listFilter' placeholder="Search Movie from BMM">
    <button type="button" (click)="performFilter()">Search</button>
</div>
<ul class="ml-ul">
    <li *ngFor="let movie of filteredMovies">
        <a href="#" [routerLink]="['/movie-details', movie.movieId]">
            <img class="ml-image" src="./assets/{{movie.imageUrl}}" alt="foods-image">
            <div class="ml-content">
                <div class="ml-title">
                    <div class="ml-movie-name">{{movie.movieName | slice:0:20}}</div>
                    <span class="ml-favorite">❤{{movie.ratings}}%</span>
                </div>
                <div class="ml-product-item-footer">
                    <div class="ml-genres">
                        {{movie.genres}}
                    </div>
                    <div class="ml-duration">
                        <span>🕘</span>
                        {{movie.duration}}
                    </div>
                </div>
                <div class="ml-show-time">
                    {{movie.showTime | date: 'short'}}
                </div>
                <div class="ml-movie-pricing-details">
                    <!-- {{movie.costPerSeat | currency:'INR'}} -->
                    <div class="ml-movie-price-age">
                        <div class="language">
                            {{movie.language}}
                        </div>
                        <div class="ml-age-rating">
                            ({{movie.ageRating}})
                        </div>
                    </div>
                    <div class="ml-movie-type">
                        {{movie.movieType}}
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>