.sidenav {
  padding-top: 1rem;
}
.sidenav a{
  color: white;
  padding: 1em;
  display: inline-block;
  list-style-type: none;
  width: 100%;
  height: auto;
}

.sidenav a:hover{
  transition: 2sec;
  background-color: white;
  color:#00171F;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.01);
  font-weight: bolder;
  
}