.am-form-row{
    display: flex;
}
.am-form-row-label {
    flex: 0.3;
}


    


.am-form-row-select {
    display: flex;
}
.am-form-row-label-select{
    flex: 0.3;
}

.am-checkbox{ 
    height: 30px;
    width: 30px;
}

input.ng-invalid.ng-touched {
    border: 1.5px solid #e72929;
  }
  
  input:focus {
    outline: none !important;
    box-shadow: none;
  }

  .am-flex {
    display: flex;
    flex: 0.7;
    flex-direction: column;
  }
  
  .am-flex > div {
    font-size: 0.95rem;
    font-weight: bolder;
  }