<br/>
<div class="container" style="padding-top:20px;">  
  <div class="row">  
    <div class="col-md-5 mx-auto">  
      <div class="card-group">  
        <div class="card p-4">  
          <div class="card-body">  
            <form name="form"  #f="ngForm" (submit)="onSubmit()">   
                <h1 style="text-align:center; color:#e72929;">AddMovie</h1>  
               
                <div class="input-group mb-3">  
                    <input type="text" name="movieName"  class="form-control sty1" placeholder="Movie Name" required [(ngModel)]="movieData.movieName"> 
                </div>
                <div class="input-group mb-4 mt-2">  
                    <input  type="datetime" name="releaseDate"  class="form-control"  placeholder="Release Date" required [(ngModel)]="movieData.releaseDate">
                </div>  

                <div class="input-group mb-3">  
                    <input type="text" name="ratings"  class="form-control sty1" placeholder="Ratings" required [(ngModel)]="movieData.ratings"> 
                </div>
                <div class="input-group mb-4 mt-2">  
                    <input  type="text" name="genres"  class="form-control"  placeholder="Genres" required [(ngModel)]="movieData.genres">
                </div> 

                <div class="input-group mb-3">  
                    <input type="text" name="imageUrl"  class="form-control sty1" placeholder="Image Url" required [(ngModel)]="movieData.imageUrl"> 
                </div>
                <div class="input-group mb-4 mt-2">  
                    <input  type="text" name="costPerSeat"  class="form-control"  placeholder="Cost Per Seat" required [(ngModel)]="movieData.costPerSeat">
                </div> 

                <div class="input-group mb-3">  
                    <input type="datetime" name="showTime"  class="form-control sty1" placeholder="Show Time" required [(ngModel)]="movieData.showTime"> 
                </div>
                <div class="input-group mb-4 mt-2">  
                    <input  type="text" name="duration"  class="form-control"  placeholder="Duration" required [(ngModel)]="movieData.duration">
                </div> 

                <div class="input-group mb-3">  
                    <input type="text" name="ageRating"  class="form-control sty1" placeholder="Age Rating" required [(ngModel)]="movieData.ageRating"> 
                </div>
                <div class="input-group mb-4 mt-2">  
                    <input  type="text" name="language"  class="form-control"  placeholder="Language" required [(ngModel)]="movieData.language">
                </div> 

                <div class="input-group mb-3">  
                    <input type="text" name="movieType"  class="form-control sty1" placeholder="Movie Type" required [(ngModel)]="movieData.movieType"> 
                </div>
        
            
                <div class="row">  
                    <div class="col-6">  
                        <button type="submit" class="btn btn-success px-4">Add Movie</button>  
                    </div>  
                    <div class="col-6 text-right">  
                        <button type="button" class="btn btn-link px-4 ">Cancel?</button>  
                    </div>  
              </div>   
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>     