.application-div{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}

.application-content{
  display: flex;
  height: 88.5vh;
}

.sidebar {
  flex: 0.163;
  background-color: #00171F;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 0.9;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* overflow-y: auto; */
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.am-form{
  width: 300rem;
}

.am-form-row{
    display: flex;
}
.am-form-row-label {
    flex: 0.3;
}


    


.am-form-row-select {
    display: flex;
}
.am-form-row-label-select{
    flex: 0.3;
}

.am-checkbox{ 
    height: 30px;
    width: 30px;
}

input.ng-invalid.ng-touched {
    border: 1.5px solid #e72929;
  }
  
  input:focus {
    outline: none !important;
    box-shadow: none;
  }

  .am-flex {
    display: flex;
    flex: 0.7;
    flex-direction: column;
  }
  
  .am-flex > div {
    font-size: 0.95rem;
    font-weight: bolder;
  }