.md-image {
    height:27.5rem;
    border-radius: 1rem;
}

.md-title {
    display: flex;
}

.md-name {
    flex: 0.9;
}

.md-containerr{
    font-size: 3rem;
    height: auto;
    width: auto;
    
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #e72929;
}

.md-content{
    padding-left: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.md-movie-name {
    flex: 0.75;
    font-weight: bold;
}

.md-favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2.8rem;
}


.md-product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.md-genres{
    border-radius: 0 2rem;
    background-color: whitesmoke;
    color: grey;
    font-size: 1.8rem;
    margin-right: .3rem;
    display: inline-block;
    flex: 0.9;
    padding-left: 1rem;
}

.md-duration{
    font-size: 1.8rem;
    text-align: center;
}

.md-show-time{
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: .2rem;
}


.md-movie-pricing-details {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md-movie-price-age {
    display: flex;
}

.md-age-rating {
    margin-left: 0.5rem;
}
.md-movie-type {
    background-color: #e72929;
    border-radius: 1rem;
    color: white;
    padding: 0.1rem 0.5rem;
}

.md-btn {
    margin-top: 4rem;
    height: 3rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 10rem;
    outline: none;
    background-color: #e72929;
    color: white;
    border: none;
    font-size: 1.8rem;
}

.md-btn:hover {
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}