<header class="main-header">
    <div class="header-containerr">
        <a href="#" class="header-logo" routerLink="/">book my movie 💃</a>
        <nav>
            <ul class="header-links-list">
                <li class="header-links" *ngIf="!adminEmail">
                    <!-- <a href="#" routerLink="signin">SignIn</a> -->
                </li>
                <li class="header-links" *ngIf="adminEmail">
                    <!-- <a href="#" routerLink="/admin/addmovie">Add Movie</a>
                    <a href="#" routerLink="/admin/movielist">Movie List</a> -->
                    Hi, {{adminFirstName}}
                    <a (click)="OnLogout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>