<header class="main-header">
    <div class="header-containerr">
        <a href="#" class="header-logo" routerLink="/">BMM 💃 Book My Movie</a>
        <nav>
            <ul class="header-links-list">
                <li class="header-links">
                    <a href="#" routerLink="signin">SignIn</a>
                    <a href="#" routerLink="addmovie">Add Movie</a>
                    <a href="#" routerLink="movielist">Movie List</a>
                    <a href="#" routerLink="editmovie">Edit Movie</a>
                    <a (click)="OnLogout()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>