@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.application-div{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}

.application-content{
  display: flex;
  height: 88.5vh;
}

.sidebar {
  flex: 0.163;
  background-color: #00171F;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 0.9;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* overflow-y: auto; */
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
* {
  box-sizing: border-box;
}

.seat-book {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.sb-movie-container {
  margin: 0.2rem 0;
}

.sb-movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.sb-containerr {
  perspective: 1000px;
  margin-bottom: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sb-seat {
  background-color: #444451;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sb-seat.selected {
  background-color: green;
}

.sb-seat.sold {
  background-color: #fff;
}

.sb-seat:nth-of-type(2) {
  margin-right: 18px;
}

.sb-seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.sb-seat:not(.sold):hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.2);
}

.sb-showcase .sb-seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.sb-showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.sb-showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.sb-showcase li small {
  margin-left: 2px;
}

.sb-row {
  display: flex;
}

.sb-screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}