<app-header></app-header>
<div class="seat-book">
    <div class="sb-movie-container">
        <!-- <label> Movie:</label>
        <select id="movie">
          <option value="220">Godzilla vs Kong (RS.220)</option>
          <option value="320">Radhe (RS.320)</option>
          <option value="250">RRR (RS.250)</option>
          <option value="260">F9 (RS.260)</option>
        </select> -->
      </div>
      <ul class="sb-showcase">
        <li>
          <div class="sb-seat"></div>
          <small>Available</small>
        </li>
        <li>
          <div class="sb-seat selected"></div>
          <small>Selected</small>
        </li>
        <li>
          <div class="sb-seat sold"></div>
          <small>Sold</small>
        </li>
      </ul>
      <div class="sb-containerr">
        <div class="sb-screen"></div>
    
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div>
    
        <div class="sb-row">
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
        </div>
    </div>
</div>