<app-header></app-header>
<div class="seat-book">
    <div class="sb-movie-container">
        <!-- <label> Movie:</label>
        <select id="movie">
          <option value="220">Godzilla vs Kong (RS.220)</option>
          <option value="320">Radhe (RS.320)</option>
          <option value="250">RRR (RS.250)</option>
          <option value="260">F9 (RS.260)</option>
        </select> -->
      </div>
      <ul class="sb-showcase">
        <li>
          <div class="sb-seat"></div>
          <small>Available</small>
        </li>
        <li>
          <div class="sb-seat selected"></div>
          <small>Selected</small>
        </li>
        <li>
          <div class="sb-seat sold"></div>
          <small>Sold</small>
        </li>
      </ul>
      <div class="sb-containerr">
        <div class="sb-screen"></div>
        <div class="sb-row">
          <div class="{{seatMap[0].status == 0 ? '' : seatMap[0].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[0].seatNo)"></div>
          <div class="{{seatMap[1].status == 0 ? '' : seatMap[1].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[1].seatNo)"></div>
          <div class="{{seatMap[2].status == 0 ? '' : seatMap[2].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[2].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
          <div class="{{seatMap[3].status == 0 ? '' : seatMap[3].status == 1 ? 'selected': 'sold'}} sb-seat" (click)="onClick(seatMap[3].seatNo)"></div>
        </div>

        <div class="sb-row">
          <div class="{{seatMap[4].seatNo}} sb-seat"></div>
          <div class="{{seatMap[5].seatNo}} sb-seat"></div>
          <div class="{{seatMap[6].seatNo}} sb-seat"></div>
          <div class="{{seatMap[7].seatNo}} sb-seat"></div>
        </div>

        <div class="sb-row">
          <div class="{{seatMap[8].seatNo}} sb-seat"></div>
          <div class="{{seatMap[9].seatNo}} sb-seat"></div>
          <div class="{{seatMap[10].seatNo}} sb-seat"></div>
          <div class="{{seatMap[11].seatNo}} sb-seat"></div>
        </div>

        <div class="sb-row">
          <div class="{{seatMap[0].seatNo}} sb-seat"></div>
          <div class="{{seatMap[0].seatNo}} sb-seat"></div>
          <div class="{{seatMap[0].seatNo}} sb-seat"></div>
          <div class="{{seatMap[0].seatNo}} sb-seat"></div>
        </div>

        <!-- <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div> -->
        <!-- <div class="sb-row">
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
        </div>
        <div class="sb-row">
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
          <div class="sb-seat sold"></div>
        </div> -->
    </div>
</div>