
.application-div{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
}

.application-content{
    display: flex;
    height: 88.5vh;
}

.sidebar {
    flex: 0.163;
    background-color: #00171F;
    display: flex;
    flex-direction: column;
  }



.content{
    flex: 0.9;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* overflow-y: auto; */
}
.amovielist-row:hover {
    cursor: pointer;
    background-color: #e72929;
    color: white;
    font-weight: 100;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
    transform: scale(1.01);
}


.center-align {
    text-align: center;
}
