@import url('https://fonts.googleapis.com/css?family=Open+Sans&disk=play=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import '~ngx-toastr/toastr';

*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    margin: 0;
    font-family: quicksand, sans-serif;
    font-size: 18px;
    background-color: #242333;
}

*, a {
    text-decoration: none;
}