.register-gender-div{
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
}

.register-gender-label{
    margin-right: 2rem;
}

.register-gender-options > input{
    margin: 6px;
}

.register-gender-options > input:hover{
    cursor: pointer;
}

.cr-flex {
    display: flex;
    flex-direction: column;
}

.cr-flex > div {
    font-size: 0.95rem;
    font-weight: bolder;
    color:#e72929;
}

.validations {
    font-size: 0.95rem;
    font-weight: bolder;
    color:#e72929;
}
